
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/JavaScript-Minify-Pack/config/applicationhost.config
.vs/JavaScript-Minify-Pack/v16/.suo
.vs/JavaScript-Minify-Pack/v16/.suo
.vs/JavaScript-Minify-Pack/v16/.suo
.vs/VSWorkspaceState.json
.vs/JavaScript-Minify-Pack/v16/.suo
.vs/VSWorkspaceState.json
